
.intro{
    font-size: 3.5rem;
}
.desc{
    font-size: 1.2rem;
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 9%, rgba(197, 164, 165, 0.7) 75%, #ffffff 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.post-project {
    background: linear-gradient(to bottom, rgba(197, 164, 165, 0.7) 9%, rgba(120, 97, 133, 0.16) 100%, #ffffff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000 0%, rgb(٢٠٢, ١٠٠, ١١٣) 75%, rgb(٢٣٧, ١٦٠, ١٥٨) 100%);
}
.btn-primary {
    color: #fff;
    background-color: rgba(٧٩, ١٦٣, ٢٤٣, 0.94);
    border-color: rgba(٧٩, ١٦٣, ٢٤٣, 0.6);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4FA3F349;
    border-color: #4FA3F349;
}
.size-icon {
    background-color: #e3d1d2;
    width: 300%;
    height: 300%;
}
